@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");
* {
    padding: 0;
    margin: 0;
    white-space: nowrap; /* Prevent text from wrapping */
    text-align: center;
    box-sizing: border-box;
    font-family:  sans-serif;
    overflow: hidden;
    font-size: 20px;
    white-space: nowrap;

}

html {
    font-size: 62.5%;
    /* 1rem = 10px */
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.home_page
{
    /* border:1px solid red; */
    display: flex;
    margin-right: 10px;
}
a
{
    text-decoration: none;
    
    color: black;

}
.home_page button
{
    font-size: 2 rem;

}

.header {
    padding: 0 4.8rem;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    /* background-color: #e7f5ff; */
    background-color: #100a89;
}

/* .admin  {
    font-size: 30px;
    color: white;
    padding: 8px;
    text-align: center;
    align-items: baseline;
    font-weight: 600;
    border: 1px solid red;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    transform: translate(-10%,-40%);

} */



.navbar-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}

.navbar-link:link {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    /* color: #212529; */
    /* background: #001980; */
    transition: all 0.3s;
    padding: 10px;
    color: white;
}

.navbar-link:visited
{

    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    transition: all 0.3s;
    padding: 10px;
    /* color: blueviolet; */
    /* border-radius: 30px; */
}


.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}


/* ===========================================
Hero and Service Section Start
======================================= */

.section-hero,
.section-services {
    padding: 9.6rem 0;
    background-color: #a5d8ff;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.section-services {
    background: #f3f0ff;
}

.section-hero p, .section-services p {
    font-size: 4.2rem;
    font-weight: 600;
}

/* ===========================================
Responsive Codes 
======================================= */


/* 980px  */

@media (max-width: 62em) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }
    .header {
        position: relative;
    }
    .header .logo {
        width: 40%;
    }
    .navbar {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* to get the tranisition  */
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }
    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}


/* Below 560px  */

@media (max-width: 35em) {
    .header {
        padding: 0 2.4rem;
    }
    .header .logo {
        width: 60%;
    }
}

.details
{
    position: absolute;
    margin-top: 30px;
    display: flex;
    flex-direction: row;

}
.details 
h4
{
    font-size: 20px;
    color: rgb(9 0 42);
    margin-top: 5px;

}







  button
  {
    padding: 0px 10px;
    color: black;
  }
  .home_page
{
    /* border:1px solid red; */
    display: flex;
    margin-right: 10px;


}
a
{
    text-decoration: none;
    
    color: black;

}
.home_page button
{
    font-size: 2 rem;

}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 5px;
}

footer {
    text-align: center;
    padding: 35px;
    width: 100%;
    bottom: 0;
    position: fixed;
    color: white;
    font-weight: bold;
    background-color: #100a89;

}


/* for ADMIN */
.hello {
    color: white;
    font-size: 34px;
    font-style: bold;
    position: fixed;
    top: 2%;
    left:50%;
}
/* for user name fetched from db */
/* .user_name
{
    color: white;
    font-size: 40px;
    font-style: bold;
    
    position: relative;
    transform: translate(53%,-173%);

} */

.user_name
{
    color: white;
    font-size: 40px;
    
    font-style: bold;
    transform: translate(66px, -45px);
    
}

/* for image */

header img{
    /* /* transform: translate(20%,20%); */
    width: 110px; 
    position: fixed;
    top: 0px;
    left: 0px;
   
    /* border: 1px solid red; */
}


nav li a {
    /* background-color: red; */
    color: white;
}
nav li a:hover {
    /* background-color: red; */
}

/* nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
} */


nav ul {
    list-style-type: none;
     padding: 0;
 margin: 0;
 white-space: nowrap;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #1f84f7;
}

/* Added styling for the sub-menu */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #100a89;
    padding: 0;
    margin-top: 0;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    float: none;
    width: 100%;
}

nav ul ul a {
    padding: 10px 16px;
}

nav ul ul a:hover {
    text-decoration: underline;
    
    /* Add underline only on hover */
}