* {
     padding: 0;
 margin: 0;
 white-space: nowrap;
    /* font-weight:bold ; */
    box-sizing: border-box;

    /*  */
    font-size: 20px;
    font-family: sans-serif;
    overflow: hidden;
    white-space: nowrap


}

.table_data {
    min-height: auto;
    /* background-color: wheat; */
    /* background: white; */
    /* background: #b8d5ff; */

    display: flex;
    margin-top: 50px;
    justify-content: center;
    align-items: center;
}

main.table {
    width: 82vw;
    height: auto;
  
    background: rgb(227 227 227);
    backdrop-filter: blur(7px);
    box-shadow: 0 .4rem .8rem #0005;
    border-radius: .8rem;
    overflow: hidden;
}

.table__header {
  
    width: 100%;
    height: 10%;
    /*  */
    background-color: rgb(103 98 185 / 48%);
    padding: .8rem 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /*  */
    font-size: 2.5em;
    font: bold;
    font-family: serif;
    letter-spacing: 0.2rem;
}

.table__body {
    /*  */
    border: 3px solid rgb(22, 44, 98);
    width: 95%;
    max-height: calc(89% - 1.6rem);
    /* background-color: #fffb; */
    margin: .8rem auto;
    border-radius: .6rem;
    overflow: auto;
}

.table__body::-webkit-scrollbar {
    width: 1.5rem;
    height: 0.5rem;
}
.table__body::-webkit-scrollbar-thumb {
    border-radius: .5rem;
    background-color: rgb(30, 39, 59);
    visibility: hidden;
    width: 100px;
}
.table__body:hover::-webkit-scrollbar-thumb {
    visibility: visible;
}

table {
    width: 100%;
}

table,
th,
td {
    /*  */
    border: 3px solid rgb(69 92 143);

    border-collapse: collapse;
    padding: 1rem;
    text-align: center;
}

thead th {
    position: sticky;
    top: 0;
    left: 0;
    /*  */
    background-color: #bebbf0fe;
    /* border:10px solid red; */
    cursor: pointer;
    text-transform: capitalize;
}

tbody tr:nth-child(even) {
    
    background-color: #0000000b;
}

tbody tr {
    --delay: .1s;
    transition: .5s ease-in-out var(--delay), background-color 0s;
}

tbody tr.hide {
    opacity: 0;
    transform: translateX(100%);
}

tbody tr:hover {
    /* background-color: #fff6 !important; */
    /*  */
    background-color: rgba(22, 22, 22, 0.4) !important;
}

tbody tr td,
tbody tr td p,
tbody tr td img {
    transition: .2s ease-in-out;
}

tbody tr.hide td,
tbody tr.hide td p {
    padding: 0;
    font: 0 / 0 sans-serif;
    transition: .2s ease-in-out .5s;
}

tbody tr.hide td img {
    width: 0;
    height: 0;
    transition: .2s ease-in-out .5s;
}

.status {
    padding: 5px;
    border-radius: 1rem;
    text-align: center;
}

.status.accepted {
    background-color: #86e49d;
    color: #006b21;
}

.status.rejected {
    background-color: #d893a3;
    color: #b30021;
}

.status.pending {
    background-color: #ebc474;
}

@media (max-width: 1000px) {
    td:not(:first-of-type) {
        min-width: 12.1rem;
    }
}

.table_attribute {
    font-size: 1.2rem;
    color: black;
    background-color: rgb(227, 19, 19);
}

body #admin_details {
    border: 1px solid red;
    padding: 1000px;
}

p:hover {
    cursor: pointer;
}

.table table tbody #rad_btn {
    border: 100px solid red;
    margin: 100px;
}



label {
    color: black;
    /* font-weight: bold; */
    margin-right: 20px;
}

.table__body a {
    text-decoration: none;
    color: white;
    font-size: 1.8rem;
}


/* a:-webkit-any-link {
    text-decoration: none;
} */

h1
{
    font-size: 30px;
    font-weight: bold;
   
}
.table .admin
{
    padding: 10px;
    color: white;
    background-color: #33314d;

}

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:wght@400;500;600;700&display=swap");


html {
    font-size: 62.5%;
    /* 1rem = 10px */
    overflow-x: hidden;

}

body {
    overflow-x: hidden;
}

.header {
    padding: 0 4.8rem;
    height: 11rem;
    display: flex;
    justify-content: space-between;
    align-items: end;
    
    /* background-color: #e7f5ff; */
    background-color: #100a89;
}

.header .admin {
    /* border: 1px solid red; */
    font-size: 30px;
    background: #081a2d;
    color: white;
    padding: 8px;
    text-align: left;
    font-weight: 600;
    /* border-radius: 20px; */
}



.navbar-list {
    display: flex;
    gap: 2rem;
    list-style: none;
}


.navbar-link:link, .navbar-link:visited {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: 500;
    /* color: #212529; */
    transition: all 0.3s;
    padding: 10px;
    color: white;
}


nav ul {
    list-style-type: none;
     padding: 0;
 margin: 0;
 white-space: nowrap;
    overflow: hidden;
}

nav li {
    float: left;
}

nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: #1f84f7;
}

/* Added styling for the sub-menu */
nav ul ul {
    display: none;
    position: absolute;
    background-color: #100a89;
    padding: 0;
    margin-top: 0;
}

nav ul li:hover>ul {
    display: inherit;
}

nav ul ul li {
    float: none;
    width: 100%;
}

nav ul ul a {
    padding: 10px 16px;
}

nav ul ul a:hover {
    text-decoration: underline;
    /* Add underline only on hover */
}


.mobile-navbar-btn {
    display: none;
    background: transparent;
    cursor: pointer;
}

.mobile-nav-icon {
    width: 4rem;
    height: 4rem;
    color: #212529;
}

.mobile-nav-icon[name="close-outline"] {
    display: none;
}


/* ===========================================
Hero and Service Section Start
======================================= */



/* ===========================================
Responsive Codes 
======================================= */


/* 980px  */

@media (max-width: 62em) {
    .mobile-navbar-btn {
        display: block;
        z-index: 999;
        border: 3px solid #212529;
        color: #212529;
    }
    .header {
        position: relative;
    }
    .header .logo {
        width: 40%;
    }
    .navbar {
        /* display: none; */
        width: 100%;
        height: 100vh;
        background: #e7f5ff;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        /* to get the tranisition  */
        transform: translateX(100%);
        transition: all 0.5s linear;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }
    .navbar-list {
        flex-direction: column;
        align-items: center;
    }
    .active .navbar {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"] {
        display: block;
    }
    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"] {
        display: none;
    }
}


/* Below 560px  */

@media (max-width: 35em) {
    .header {
        padding: 0 2.4rem;
    }
    .header .logo {
        width: 60%;
    }
}

.details
{
    margin-top: 310px;
}

button {
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    padding: 8px;
    background-color: rgb(129, 1, 1);
}
  
  .home_page
{
    /* border:1px solid red; */
    display: flex;
    margin-right: 10px;


}
a
{
    text-decoration: none;
    
    /* color: black; */

}
.home_page button
{
    font-size: 2 rem;
    background-color: white;

}

i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 4px;
    margin-top: 8px;
}

footer {
    text-align: center;
    width: 100%;
    bottom: 0;

    height: 50px;    

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    color: white;
    font-weight: bold;
    background-color: #100a89;

}
.hello {
    color: white;
    font-size: 34px;
    /* font-style: bold; */
    position: fixed;
    top: 2%;
    left:50%;
}





.table__body
{
    max-height: 430px; 
    /* overflow-y: scroll;  */
}

header img{
    /* /* transform: translate(20%,20%); */
    width: 110px; 
    position: fixed;
    top: 0px;
    left: 0px;
    /* border: 1px solid red; */
}
.table__body
{
    max-height:  450px;
}


.navbar
{
    position: fixed;
    top: 65px;
    right: 30px;

}
.user_name
{
    color: white;
    font-size: 40px;
    font-style: bold;
    /* transform: translate(66px, -45px); */
    position: fixed;
    top: 40px; /* Adjust the top value to your desired position */
    left: 120px; /* Adjust the left value to your desired position */
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #1b2c4b;
    color: #cbd8e5;
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    z-index: 9999;
    display: none;
    border-radius: 20px;
  }
  
